<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Fresh Market</title>
    {% load static %}
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href={% static 'eapp/base.css' %}>
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href={% url 'eapp-home' %}>
            <img src={% static 'eapp/brand_logo.jpg' %} alt="leaf_logo" width="50" class="rounded-circle">
        </a>
        <li class="nav-item list-unstyled">
            <a aria-current="page" class="brand_name nav-link active " href={% url 'eapp-home' %}>FRESH
                MARKET</a>
        </li>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-list"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll w-100 justify-content-end "
                style="--bs-scroll-height: 100px;">

                <li class="nav-item">
                    <a class="nav-link" href={% url 'eapp-store' %}>
                        <svg class="bi bi-cart" fill="white" height="25" viewBox="0 0 16 16"
                             width="25" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                        <span id="total_item" class="badge text-bg-primary"> {{ total_quantity.quantity__sum }}</span>
                    </a>
                </li>
                <li class="dropdown nav-item mx-3">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <svg class="bi bi-person-fill" fill="white" height="25" viewBox="0 0 16 16"
                             width="25" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href={% url 'account' %}><i class="bi bi-person"></i>
                                My Account</a></li>
                            <li><a class="dropdown-item" href={% url 'logout' %}><i class="bi bi-power"></i>
                                Log-out</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href={% url 'register' %}><i class="bi bi-person-add"></i>
                                Register</a></li>
                            <li><a class="dropdown-item" href={% url 'login' %}><i class="bi bi-box-arrow-in-right"></i>
                                Log-in</a></li>
                        {% endif %}

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% if messages %}
    {% for message in messages %}
        <div class="container alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

{% endif %}
<div class="container-lg ">
    {% block content %}
    {% endblock content %}
</div>
<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>