{% extends "base.html" %}
{% block content %}
    {% load crispy_forms_tags %}

    <div class="justify-content-center row mt-5">
        <form method="post" class="col-6 border border-1 rounded-3 p-4 bg-dark">
            {% csrf_token %}
            <h1 class="text-white my-4">LogIn</h1>
            {{ form| crispy }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn  btn-lg btn-primary mt-4">Login</button>
            </div>
            <div class="text-white small my-4">Don't have an account ? <a href={% url 'register' %}>register </a>
            </div>
        </form>
    </div>
    
{% endblock %}