.list-group-item.active{
    background-color: #ff9f1c;
    border: none;
}
.custom-btn{
    color: #ffffff;
    background-color: #ff9f1c ;
}
.custom-btn:hover,
.custom-btn:focus,
.custom-btn:active{
    color: white;
    background-color: #ff9500 !important;
}
.list-group-item:first-child{
    background-color: #ff9f1c;
}
